.top-bar {
    background-color: #FFE000;
}

.navbar {
    background-color: #1B1D1D!important;
}

.nav-link {
    color: #ffffff!important;
    letter-spacing: .1em;
    font-weight: 600;
}

hr {
    color: #ffffff;
    width: 90%;
}