/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    background-color: #1D1B1B;
    font-family: "Karla", Helvetica, sans-serif;
    color: #ffffff;
    height: 100vh;
}

.rockstar-yellow {
    color: #FFE000;
}